<h3 class="d-flex justify-content-center"><%= t('.header') %></h3>
<div class="row" style="margin-left: 10px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t('.name') %></th>
        <th scope="col"><%= t('.image') %></th>
      </tr>
    </thead>
    <tbody>
      <% @user_badges.each do |user_badge| %>
        <tr>
          <td style="vertical-align: middle">
            <%= user_badge.name %>
          </td>
          <td style="vertical-align: middle">
            <img src="<%= user_badge.image_url %>">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
