<% if @test_passage.successfully? %>
    <h1 style="color:green"><%= t('.completed', title: @test_passage.test.title) %></h1>
<% else %>
    <h1 style="color:red"><%= t('.failed', title: @test_passage.test.title) %></h1>
<% end%>
<br>
<p><%= t('.rate') %>: <%= @test_passage.rate * 100 %>%</p>
<%= link_to t('.back'),  root_path%>

