<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>
  
  <p>
    <%= form.label :variant, t('.variant') %><br>
    <%= form.text_area :variant, id: :answer_variant, rows: 7, class: "form-control" %><br>
  </p>
  <div class="form-check">
    <%= form.label :correct, class: 'form-check-label' do %>
      <%= form.check_box :correct, class: 'form-check-input' %>
      <%= t('.correct') %>              
    <% end %>
  </div>
  <%= form.submit class: "btn btn-primary mt-3"%>
<% end %>