<h2><%= t('.header')%>:</h2>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer') %>:</b>
  <%= @answer.variant %>
<p>

<p>
  <b><%= t('.correct') %>:</b>
  <%= t(@answer.correct) %>
</p>

<%= link_to t('button.back'), admin_question_path(@answer.question) %>