<h3>
  <%= @question.body %>
</h3>
<h2>Answers</h2>
<%= link_to 'New answer', new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<br>
<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_test_path(@question.test) %>