<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer >
      <p>__</p>
      <p>Author: Sergey Nazarov</p>
      <p>
        <a href="https://thinknetica.com" target="_blank" rel="nofollow">Учебный проект в онлайн-школе Thinknetica</a> по созданию и прохождению тестов.
      </p>
      <%= github_url('NazarovSV','test-guru') %><br>
      <%= current_year %>
    </footer>
  </body>
</html>
